* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ada7f0;
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 850px;
    background-color: white;
    border-radius: 20px;
    margin: auto;
}

.form-container {
    padding: 50px 145px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    height: 55px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    outline-color: #7a5cfa;
    margin-top: 8px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 16px;
}

label {
    font-size: 12px;
    color: #666666;
}

.inline-inputs {
    display: flex;
    justify-content: space-between;
}

.inline-inputs .input {
    width: 270px;
}

.btn {
    width: 170px;
    height: 55px;
    background-color: #7a5cfa;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.clients {
    padding: 25px 75px;
    border-bottom: 1px solid #ada7f0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

.client-info {
    padding: 25px 75px;
}

.client {
    height: 40px;
    padding: 0 30px;
    border-radius: 20px;
    border: 1px solid #7a5cfa;
    cursor: pointer;
    line-height: 40px;
}

.active {
    background-color: #7a5cfa;
    color: white;
}
