doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Main Page
  link(rel='stylesheet' href='/css/mainPage.css')
header
  nav.nav
    p(style='color: rgb(184, 183, 183)')
      | This web application was created to fulfill Web Technology
      | module&rsquo;s requirements and does not represent an actual
      | company or service
    .div_navigation-links
      ul.ul-links
        li
          a See all patients
        li
          a(href='http://localhost:4000/user/register') Register a new patient
        li
          a Update patient&apos;s data
        li
          a Delete patient&apos;s data
  .div_background-img
    img(src='/images/background_img.jpg' alt='')